<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>FAQDEmo</display-name>
  <welcome-file-list>
    <welcome-file>welcome.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
  <servlet-name>multi</servlet-name>
  <servlet-class>com.servlet.prectice.MultipleNameDEmo</servlet-class>
<!--     <init-param> -->
<!--   <param-name>first</param-name> -->
<!--   <param-value>com.oracle.jdbc.OracleDriver</param-value> -->
<!--   </init-param> -->
<!--   <init-param> -->
<!--   <param-name>first</param-name> -->
<!--   <param-value>com.oracle.jdbc.OracleDriver</param-value> -->
<!--   </init-param> -->

  </servlet>
  <servlet-mapping>
  <servlet-name>multi</servlet-name>
  <url-pattern>/tst</url-pattern>
  </servlet-mapping>
  
  <context-param>
  <param-name>first</param-name>
  <param-value>"this is from servlet context"</param-value>
 
  </context-param>
  
  <context-param>
  <param-name>first</param-name>
  <param-value>this is from sec context</param-value>
  </context-param>
   <context-param>
  <param-name>first</param-name>
  <param-value>this is from third context</param-value>
  </context-param>
  
</web-app>