<web-app>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>htt</servlet-name>
  <servlet-class>com.servlet.prectice.BottonLinkTogether</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>htt</servlet-name>
  <url-pattern>/cal</url-pattern>
  </servlet-mapping>
</web-app>